---
import Layout from "@layouts/Layout.astro";
import RevenueTable from "@components/RevenueTable.astro";
import {MonthSummary} from "@components/MonthSummary";

const {isCashea, year} = Astro.params

---

<Layout style="">
    <div class="w-full h-full flex flex-col gap-[3rem] mb-8 py-5 px-[3rem]">
        <RevenueTable isCashea={isCashea} year = {year}/>
        <MonthSummary  client:only isCashea={isCashea} year = {year}/>
            
        
    </div>
</Layout>