---
import {getInstallments} from '@lib/getInstallments'
import {InstallmentModal} from '@components/operationPage/InstallmentModal'
import type { Installment } from 'src/pages/operation/[id].astro'


const statusColors = {
  pendiente: 'bg-yellow-100 text-yellow-800 border-yellow-200',
  pagado: 'bg-green-100 text-green-800 border-green-200',
  no_pagado: 'bg-red-100 text-red-800 border-red-200',
  errado: 'bg-orange-100 text-orange-800 border-orange-200'
}

const statusLabels = {
  pendiente: 'Pendiente',
  pagado: 'Pagado',
  no_pagado: 'No pagado',
  errado: 'Error bancario'
}

interface Props {
  orderNumber: string | undefined
  installments: Installment[]
}

const { orderNumber, installments } = Astro.props

---

{
  installments.length>0?(<section class="bg-white rounded-b-lg p-6 md:w-xl w-xs flex flex-col shadow-lg">
  <h2 class="text-lg font-semibold text-gray-800 mb-4 border-b border-gray-200 pb-6">Cuotas</h2>
  
  <ul class="space-y-4">
    {installments.map((installment, index) => (
      <li class="list-none">
        <button 
          onclick={`document.getElementById('installment-modal-${index}').showModal()`}
          class="w-full items-center justify-between p-3 border border-gray-200 rounded-lg hover:bg-gray-50 transition-colors cursor-pointer  grid grid-cols-3 md:grid-cols-7 text-start"
        >
          
            <span class="font-medium text-gray-700">{installment.type}</span>
            <span class="hidden text-xs md:block text-red-800 col-span-2">
              vence: {installment.date_to_pay}
            </span>
            {
              installment.change_date?(
                <span class="hidden text-xs md:block col-span-2 text-green-800">
                cambio: {installment.change_date}
              </span>
              ):(<span class="hidden text-xs md:block w-full h-full col-span-2">

              </span>)
            }
          
          
          
            <span class="font-medium text-gray-900 text-start">${installment.installment_amount.toFixed(2)}</span>
            <span class={`text-[10px] font-medium px-3 py-1 w-full rounded-full text-center ${statusColors[installment.state]}`}>
              {statusLabels[installment.state]}
            </span>
         
        </button>
      </li>

      <InstallmentModal client:only installment = {installment} index={index} orderNumber={orderNumber} installmentType = {installment.id_type}/>
    ))}
  </ul>
</section>):('')
}




