---
import OperationsTable from '@components/OperationsTable.astro';
import Layout from '../layouts/Layout.astro';
import OperationForm from '@components/OperationForm.astro';
import ReactVirtualizedTable from '@components/OperationsTable';
import {Notifications} from '@components/Notifications';
import ProductsQuickAccess from '@components/ProductsQuickAccess.astro';
import {BACK_API } from 'astro:env/client';
import {fetchAuth} from '@lib/fetchAuth'


const cookie = Astro.request.headers.get('cookie') || '';

const res = await fetchAuth(`${BACK_API}/api/get-products`, {
  method: 'GET',
  headers: { Cookie: cookie }
});

if (res.status === 302) {
  // Esto detiene el renderizado y redirige al login
  return res;
}

const { data: products = [] } = await res.json();



---

<Layout style='flex-col items-center'>
	
    <div id="homepage-container" class="h-full w-full py-5 px-[3rem] gap-[3rem]">
        
        
        {
            products.length > 0?(
            <div id="new-operation">
            <OperationForm products={products}/>
        </div>
    
        
        <div id="notifications-container">
            <Notifications client:visible />
        </div>
        
        <div id='quick-products'>
            <ProductsQuickAccess products={products}/>
        </div>
        
        
        
        
            
        <div id='orders-table'>
            <ReactVirtualizedTable client:visible/>
        </div> 
            ):(
                ""
            )
        }
            
        
    </div>

    
    
    
</Layout>

<style>
    #homepage-container{
        max-width: 1800px;
        display: grid;
        grid-template-areas: 
        "form form notifications"
        "form form products"
        "orders orders orders"
        ;
        
        grid-template-columns: 1fr 1fr 600px;
		grid-template-rows:  300px 300px auto;
        height: 100%;
        width: 100%;
    
    }

    #new-operation{
        grid-area: form;
    }


    #notifications-container{
        grid-area: notifications;
    }

   
    #orders-table{
        grid-area: orders;
    }

    #quick-products{
        grid-area: products;
    }

    @media (max-width: 1280px) {
    #homepage-container {
        
        grid-template-columns: 1fr 1fr 390px;
        grid-template-rows: auto 300px auto; 
    }
}

    @media (max-width:1000px) {
        #homepage-container{
            grid-template-areas: 
        "form"
        "products"
        "orders"
        "notifications"
        ;
        
        grid-template-columns: 100%;
		grid-template-rows:  auto 300px;
        }
    }

</style>

