---
import MileniumLogo from '../assets/logos/milenium.svg'
import PackageIcon from '@icons/package.svg'
import SummaryIcon from '@icons/summary.svg'
import HomeIcon from '@icons/home.svg'
import casheaLogo from '@icons/cashea-logo.avif'
import { Image } from 'astro:assets'
import milleniumLogo from '@icons/milenium-logo.avif'

const currentYear = new Date().getFullYear();
---
<nav class="relative text-theme-light-gray">
   <div class="flex flex-col pl-10 py-5   gap-10  h-fit fixed">
    <a href="/" class="flex gap-8">
        <picture class="h-12">
            <MileniumLogo/>
        </picture>
        
    </a>
    <div class="flex flex-col gap-3">
        <span class="text-xs text-theme-light-gray/70">NAVEGACIÓN</span>
        <hr>
        <ul class="flex flex-col gap-5">

            <li>
                
                <a  class="flex items-center gap-2" href={`/`}>
                    <div class="size-8">
                        <HomeIcon/>
                    </div>
                    Inicio
                </a>
            </li>
            
            <li>
                
                <a  class="flex items-center gap-2" href="/products/all">
                    <div class="size-8">
                        <PackageIcon/>
                    </div>
                    Productos
                </a>
            </li>

            <li>
                
                <a  class="flex items-center gap-2" href={`/revenue/1-${currentYear}`}>
                    <div class="size-8">
                        <SummaryIcon/>
                    </div>
                    Resumen
                </a>

                <li class="flex ml-8">
                
                    <a  class="self-end flex items-center text-xs gap-2" href={`/revenue/1-${currentYear}`}>
                        <div class="size-5 rounded-sm overflow-hidden">
                            <Image src={casheaLogo} alt='logo de cashea'/>
                        </div>
                        Cashea
                    </a>
                </li>
    
                <li class="flex ml-8">
                    
                    <a  class="self-end flex items-center text-xs gap-2" href={`/revenue/0-${currentYear}`}>
                        <div class="size-5  rounded-sm overflow-hidden">
                            <Image src={milleniumLogo} alt='logo de milenium mania'/>
                        </div>
                        De contado
                    </a>
                </li>
            </li>


            
        </ul>
    </div>
   </div>
</nav>