---
import Sections from "@layouts/Sections.astro"
import Bookmark from "./decoration/Bookmark.astro"
import { Image } from "astro:assets"
// import CasheaLogo from "../icons/cashea-logo.avif"
import {AddProduct} from "./AddProduct"
import { TotalInput } from "./TotalInput"
import { PAYMENTS_METHODS } from "@lib/constants/paymentMethods"

interface Props{
  products: [any]
}

const {products} = Astro.props
---

<Sections style="w-full h-full">
    
    <form id="operation-form" class="relative flex flex-col h-full gap-4">

      <!-- <div class="absolute top-0 left-0 z-[-10] h-full w-full rotate-180 transform bg-[radial-gradient(100%_120%_at_80%_50%,hsla(0,0%,0%,0)_0,rgba(0,85,179,.1)_100%)]"></div> -->
      
      <Bookmark>
          Nueva operación
          <button type="button" id="cashea-mode" class="size-10 rounded-md overflow-hidden cursor-pointer shadow">
              
                <img src='/cashea-logo.avif' alt="logo de cashea">
              
          </button>
      </Bookmark>


   
      
        <!-- Diálogo modal -->
        <dialog id="additional-info-dialog" class="rounded-lg shadow-xl w-full max-w-md absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 bg-white p-6">
            <h3 class="text-lg font-medium text-gray-900 mb-4">Nuevo cliente</h3>
            <div id="error-info" class="text-red-600 invisible min-h-[24px] text-sm font-medium">
            </div>
            <div class="space-y-4">
                <div>
                    <label for="name" class="block text-sm font-medium  mb-1">Nombre</label>
                    <input 
                        type="text" 
                        id="name" 
                        
                        class="w-full px-3 py-2 border border-gray-300 rounded-md"
                    >
                </div>
                
                <div>
                    <label for="phone" class="block text-sm font-medium  mb-1">Teléfono</label>
                    <input 
                        type="tel" 
                        id="phone" 
                        
                        class="w-full px-3 py-2 border border-gray-300 rounded-md"
                    >
                </div>
            </div>

            <div class="flex justify-end space-x-3 mt-6">
                <button 
                    type="button" 
                    onclick="document.getElementById('additional-info-dialog').close()"
                    class="px-4 py-2  rounded-md border hover:bg-gray-50"
                >
                    Cancelar
                </button>
                <button 
                    id="save-additional-info"
                    type="button" 
                    class="px-4 py-2 bg-theme-ocean-blue text-white rounded-md hover:bg-opacity-90"
                >
                    Enviar
                </button>
            </div>
        </dialog>


        <dialog id="check-info" class="rounded-lg shadow-xl w-full max-w-md absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 bg-white p-6">
          <h3 class="text-lg font-medium text-gray-900 mb-4">¿Está seguro de confirmar la orden?</h3>

          <span id="error-form-info" class="flex items-center mb-3 h-3 w-full text-red-600">
          
          </span>

          <div class="flex flex-col gap-5">
            <div>
              <label for="customer-info" class="block text-md font-medium underline underline-offset-4 mb-2">Cliente</label>
              <div  
                    id="customer-info" 
                    class="flex mb-4 gap-3"
                >

              </div>
            </div>
              <div>
                <label for="confirm-total" class="block text-md font-medium underline underline-offset-4 mb-2">Monto total</label>
                <div id="confirm-total" class="text-md">

                </div>
            </div>

              <div>
                  <label for="confirm-products" class="block text-md font-medium underline underline-offset-4 mb-2">Productos</label>
                  <div id="confirm-products" class="flex flex-col gap-2">

                  </div>
              </div>

              <div>
                <label for="orden_number" class="block text-sm font-medium  mb-1">Número de orden</label>
                <input 
                  type="number" 
                  id="orden_number" 
                  class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-theme-ocean-blue"
                >
              </div>
              <div>
                <label for="metodo" class="block text-sm font-medium  mb-5">Método de pago</label>

                <div class="flex justify-between gap-y-8 flex-wrap">
                  {
                    PAYMENTS_METHODS.map(({id, payment_method_name, icon: Icon})=>(
                      <div class="payment-container max-w-40 grid grid-cols-3 gap-1 text-xs items-center justify-between">
                        <div class="col-span-2 flex justify-center gap-2">
                          <input class="payment-method" type="checkbox" id={`${id}-${payment_method_name}`}>
                          <div class="size-12 text-theme-ocean-blue">
                              <Icon/>
                          </div>
                          
                        </div>
                        
                        
                        <input disabled class="payment-amount border border-gray-500 rounded-md py-1 px-2" type="number">

                        <button type="button" class="payment-confirm border rounded-md cursor-pointer mt-1 px-2 py-1 col-span-3 justify-center">añadir</button>
                      </div>
                    ))
                  }
                </div>
    
            </div>
              
              
          </div>

          <div class="flex justify-end space-x-3 mt-6">
              <button 
                  onclick="document.getElementById('check-info').close()"
                  type="button" 
                  class="px-4 py-2  rounded-md border hover:bg-gray-50"
              >
                  Cancelar
              </button>
              <button 
                  id="save-confirmed-info"
                  type="button" 
                  class="px-4 py-2 bg-theme-ocean-blue text-white rounded-md hover:bg-opacity-90"
              >
                  Confirmar
              </button>
          </div>
      </dialog>
    
       
      
      <div class="grid grid-cols-1 xl:grid-cols-2 gap-4 relative grow">
        
        <div class="relative">
          <label for="cedula" class="block text-sm font-medium  mb-1">Cédula</label>
          <input 
            placeholder="Ej: 29602387"
            type="number" 
            id="cedula" 
            name="dni" 
            required
            title="No se permiten espacios en este campo"
            class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-theme-ocean-blue"
          >
        </div>

        <AddProduct client:only products={products}/>
      </div>
    
      
    
      <div class="grid grid-cols xl:grid-cols-2 gap-4 grow">
        
        <TotalInput client:only/>
        
        <div>
          <label for="inicial" class="block text-sm font-medium  mb-1">Inicial ($)</label>
          <input 
            required
            id="initial-label"
            type="number" 
            name="initial" 
            max=""
            class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-theme-ocean-blue"
            step="any"
          >
        </div>
    
        
      </div>
    
      <div class="grid grid-cols-1 grow xl:grid-cols-2 gap-4">
        
        
        <div>
          <label for="fecha" class="block text-sm font-medium  mb-1">Fecha</label>
          <input 
            type="date" 
            id="fecha" 
            name="date" 
            class=" cursor-pointer  w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-theme-ocean-blue"
            max={new Date().toISOString().split('T')[0]}
          >
        </div>
        
      </div>

      
    
      <div class="flex">
        <span id="error-form-principal" class="flex items-center h-3 w-full text-red-600">
          
        </span>
        
        <div class="flex w-full justify-end grow my-2">
          <button 
          type="submit" 
          class="px-4 py-3 scheme-dark text-theme-light-gray bg-theme-ocean-blue rounded-lg shadow-md border border-blue-400 focus:outline-none focus:ring-2 focus:ring-blue-300 transition-all duration-300 ease-in-out hover:bg-blue-700 cursor-pointer font-medium text-sm"
        > 
          Guardar Operación
        </button>
        </div>
      </div>
    </form>

  </Sections>


<script>
  document.addEventListener('DOMContentLoaded', () => {
    const fechaInput = document.getElementById('fecha');
    const today = new Date().toISOString().split('T')[0];
    (fechaInput as HTMLInputElement).value = today;
  });

  
</script>

<script>
  
  const fechaInput = document.getElementById('fecha') as HTMLInputElement;
  fechaInput.addEventListener('click', ()=>{
    fechaInput.showPicker()
  })

 
</script>


{/* <!-- <script>
  
  let total = 0
  const totalInput = document.getElementById('total') as HTMLInputElement;
  setInterval(() => {
    const {cartProducts} = useProductsStore.getState()
    if (cartProducts && cartProducts.length > 0){
   
    totalInput.value = total.toString()
  }
  }, 1000);

</script> --> */}


  

<style>
  /* Ocultar flechas para inputs de tipo number */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }
</style>