---
import Bookmark from "@components/decoration/Bookmark.astro"
import Layout from "@layouts/Layout.astro"
import Sections from '@layouts/Sections.astro'
import ProductCard from '@components/ProductCard.astro'
import { BACK_API } from "astro:env/client"
import type { Product } from "@components/operationPage/OperationInfo.astro"
import Edit from '@icons/edit.svg'
import TrashIcon from '@icons/TrashIcon.svg'
import AlertIcon from '@icons/AlertIcon.svg'




let products:Product[]
let sectionsCategories: string[]

const {search} = Astro.params
const cookie = Astro.request.headers.get('cookie')

if (search == 'all'){
    const result = await fetch(`${BACK_API}/api/get-products`,{
    method: 'GET',
    headers:{
        Cookie:cookie
    }
})
    if (result.status == 401 ){
        return Astro.redirect('/auth')
    }
    const json = await result.json()

       
    products = json.data || []
    sectionsCategories = [...new Set(products.map(product => product.name_category))];
}

else {
    const result = await fetch(`${BACK_API}/api/filter-products`, {
        method: 'POST',
        headers: {
            'Content-Type':'application/json',
            Cookie:cookie
        },
        body: JSON.stringify(search),

    })

    if (result.status == 401 ){
        return Astro.redirect('/auth')
    }
    
    const json = await result.json()

    console.log(json.data.length)

    if (json.data.length === 0){
        return Astro.redirect('/products/all')
    }

    products = json.data || []
    sectionsCategories = [...new Set(products.map(product => product.name_category))];
}

---

<Layout style="justify-center">
    <Sections style="mx-[3rem] my-5 w-xs sm:w-sm md:w-md">
        <Bookmark>
            <div class="flex items-center gap-1 text-sm md:gap-5">
                Productos
                <input  type="search" autocomplete="off" id="product-filter" placeholder="código o nombre" class="border py-1 px-2 text-theme-ocean-blue rounded-full w-25  block text-xs md:text-sm md:w-full">
            </div>
            <button id="add-product-button" class=" scheme-dark w-20 text-theme-light-gray bg-theme-ocean-blue rounded-lg shadow-md border border-blue-400 focus:outline-none focus:ring-2 focus:ring-blue-300 transition-all duration-300 ease-in-out hover:bg-blue-700 cursor-pointer font-medium text-xs md:text-sm px-2 py-1 md:px-4 md:py-3 md:w-fit">
                Agregar producto
            </button>
        </Bookmark>
        <div id="all-products" data-sections={JSON.stringify(sectionsCategories)} data-products={JSON.stringify(products)} class="w-full  overflow-y-auto">
            {
                sectionsCategories.map((category)=>(
                <section id="products-category" class="flex flex-col h-fit gap-8 mt-5 border-b-2 overflow-x-auto border-[#E0E0E0] pb-8 pl-8">
                    <h1 class="text-theme-light-blue text-xl font-bold" id="name-category">{category}</h1>
                    <div class="h-fit flex gap-10">
                    {
                        
                        products
                        .filter((product) => product.name_category === category)
                        .map((product) => (
                            
                            <ProductCard product={product}/>
                           
                        ))
                            
                
                    }
                     </div>
                    
                
                </section>
                ))
            }
            <dialog id="name-change-dialog" class="rounded-lg shadow-xl w-full max-w-md absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 bg-white p-6">
                <div class="flex flex-col gap-5">
                    <label for="change-name-input" class="text-theme-light-blue font-bold">Cambiar nombre de producto</label>
                    <input required id="change-name-input" class="rounded-md border p-1 border-theme-light-blue" type="text">
                
                </div>
                <div class="flex space-x-3 justify-end mt-6">
                    <button 
                        type="button" 
                        onclick="document.getElementById('name-change-dialog').close()"
                        class="px-4 py-2  rounded-md border hover:bg-gray-50"
                    >
                        Cancelar
                    </button>
                    <button 
                        id="update-name-change"
                        type="button" 
                        class="px-4 py-2 bg-theme-ocean-blue text-white rounded-md hover:bg-opacity-90"
                    >
                        Actualizar
                    </button>
                </div>
            </dialog>
            
            <dialog id="code-change-dialog" class="rounded-lg shadow-xl w-full max-w-md absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 bg-white p-6">
                <div class="flex flex-col gap-5">
                    <label for="change-code-input" class="text-theme-light-blue font-bold">Cambiar código de producto</label>
                    <input required  id="change-code-input" class="rounded-md border p-1 border-theme-light-blue" type="text">
                
                </div>
                <div class="flex space-x-3 justify-end mt-6">
                    <button 
                        type="button" 
                        onclick="document.getElementById('code-change-dialog').close()"
                        class="px-4 py-2  rounded-md border hover:bg-gray-50"
                    >
                        Cancelar
                    </button>
                    <button 
                        id="update-code-change"
                        type="button" 
                        class="px-4 py-2 bg-theme-ocean-blue text-white rounded-md hover:bg-opacity-90"
                    >
                        Actualizar
                    </button>
                </div>
            </dialog>
            
            <dialog id="cost-change-dialog" class="rounded-lg shadow-xl w-full max-w-md absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 bg-white p-6">
                <div class="flex flex-col gap-5">
                    <label for="change-cost-input" class="text-theme-light-blue font-bold">Cambiar costo de producto</label>
                    <input required id="change-cost-input" class="rounded-md border p-1 border-theme-light-blue" type="number">
                
                </div>
                <div class="flex space-x-3 justify-end mt-6">
                    <button 
                        type="button" 
                        onclick="document.getElementById('cost-change-dialog').close()"
                        class="px-4 py-2  rounded-md border hover:bg-gray-50"
                    >
                        Cancelar
                    </button>
                    <button 
                        id="update-cost-change"
                        type="button" 
                        class="px-4 py-2 bg-theme-ocean-blue text-white rounded-md hover:bg-opacity-90"
                    >
                        Actualizar
                    </button>
                </div>
            </dialog>

            <dialog id="confirm-delete-dialog" class="w-sm h-80 mx-auto my-auto rounded-lg">
                <div class="w-full h-full flex flex-col gap-10 items-center justify-center">
                    <picture class="text-red-700 size-20">
                        <AlertIcon/>
                    </picture>
                    <p class="text-gray-500">¿Estás seguro de eliminar este producto?</p>
                    <div class="flex gap-4">
                        <button onclick="document.getElementById('confirm-delete-dialog').close()" class="cursor-pointer h-8 w-auto border px-3 py-1  text-gray-500  rounded-full">
                            Cancelar
                        </button>
                        <button id="confirm-delete-button" class="cursor-pointer h-8 w-auto border px-3 py-1 text-red-700 rounded-full">
                            Eliminar
                        </button>
                    </div>
                </div>
            </dialog>
        </div>
        
        <dialog id="product-info-dialog" class="rounded-lg shadow-xl w-full max-w-md absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 bg-white p-6">
            <div class="flex justify-between items-center">
                <h3 class="text-lg font-medium text-gray-900">Información del producto</h3>
                <button id="delete-product" class="size-10 rounded-full border p-1 cursor-pointer text-theme-light-blue">
                    <TrashIcon/>
                </button>
            </div>
            
            <p id="change-product-error" class="h-3 w-full mt-1 mb-5 text-sm text-red-600">
                
            </p>
            <div class="flex flex-col mt-3">
                
                <div class="flex flex-col gap-5">
                    <div>
                        <div class="flex gap-2">
                            <label class='text-theme-light-blue font-bold' for='info-name'>Nombre</label>
                            <button class="size-6 text-theme-ocean-blue cursor-pointer" id="change-name">
                                <Edit/>
                            </button>
                        </div>
                        <span id="product-name"></span>
                    </div>
                    <div>
                        <div class="flex gap-2">
                            <label class='text-theme-light-blue font-bold' for='info-code'>Código</label>
                            <button class="size-6 text-theme-ocean-blue cursor-pointer" id="change-code">
                                <Edit/>
                            </button>
                        </div>
                        <span id="product-code"></span>
                    </div>
                    <div>
                        <div class="flex gap-2">
                            <label class='text-theme-light-blue font-bold' for='info-color'>Color</label>
                        </div>
                        <span id="product-color">
                            <select 
                            id="info-color" 
                            class=" px-3 py-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-theme-ocean-blue"
                        >
                            <option value='' selected disabled>Seleccione el color</option>
                            <option value='1'>Blanco</option>
                            <option value='2'>Negro</option>
                            <option value='3'>Plata</option>
                        </select>
                        </span>
                    </div>
                    <div>
                        <div class="flex flex-col gap-3 justify-center">
                            <div class="flex">
                                <label class='text-theme-light-blue font-bold' for='new-warehouse'>Almacen</label>
                                
                            </div>
                            <span id="change-product-warehouse" class=" flex flex-col gap-3">
                                <div class="flex gap-5">
                                    <label>
                                      Almacén 1
                                    </label>
                                    <input id="change-amount-a" class="border rounded-md px-2 max-w-20" type="number"/>
                                </div>
                            
                                  <!-- Almacén B -->
                                <div class="flex gap-5">
                                    <label>
                                      Almacén 2
                                    </label>
                                    <input id="change-amount-b" class="max-w-20 px-2 border rounded-md" type="number"/>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class="flex gap-2">
                            <label class='text-theme-light-blue font-bold' for='info-cost'>Costo</label>
                            <button class="size-6 text-theme-ocean-blue cursor-pointer" id="change-cost">
                                <Edit/>
                            </button>
                        </div>
                        <span id="product-cost"></span>
                    </div>
                    <div>
                        <label class='text-theme-light-blue font-bold' for='info-last-up'>Última actualización</label>
                       
                        <span id="last-update"></span>
                    </div>
                    <div>
                        <label class='block text-theme-light-blue font-bold' for='info-category'>Categoría</label>
                        
                        <span id="product-category">
                            <select 
                            id="info-category" 
                            class=" px-3 py-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-theme-ocean-blue"
                        >
                            <option value='' selected disabled>Seleccione la categoría</option>
                            <option value='1'>AA split</option>
                            <option value='2'>AA de ventana</option>
                            <option value='3'>Cocinas</option>
                            <option value='4'>Refrigeradores</option>
                            <option value='5'>Lavadoras</option>
                            <option value='6'>Línea menor</option>
                            <option value='7'>Colchones</option>
                            <option value='8'>Congeladores</option>
                            <option value='9'>Televisores</option>
                            <option value='10'>Audio</option>
                            <option value='11'>Computación</option>
                        </select>
                        </span>
                    </div>
                    
                    
                </div>
              
               
                
            </div>
  
            <div class="flex justify-end space-x-3 mt-6">
                <button 
                    type="button" 
                    onclick="document.getElementById('product-info-dialog').close()"
                    class="px-4 py-2  rounded-md border hover:bg-gray-50"
                >
                    Cancelar
                </button>
                <button 
                    id="update-product-button"
                    type="button" 
                    class="px-4 py-2 bg-theme-ocean-blue text-white rounded-md hover:bg-opacity-90"
                >
                    Actualizar
                </button>
            </div>
        </dialog>

        <dialog id="add-product-dialog" class="rounded-lg shadow-xl w-full h-fit max-w-3xl m-auto relative  z-50 bg-white p-6">
            <h3 class="text-lg font-medium text-gray-900">Agregar nuevo producto</h3>
            
            
            <form id="add-product-form" class="flex flex-col mt-3">
                <p id="product-info-error-form" class="h-5 w-full text-sm mb-3 text-red-600">
                    
                </p>
                <div class="flex flex-col gap-8">
                    <div>
                        <div class="flex gap-2 flex-col">
                            <label class='text-theme-light-blue font-bold' for='new-name'>Nombre</label>
                            <input name="newName" required class="border rounded-md px-2 py-1" id="new-name"/>
                               
                            
                        </div>
                    </div>
                    <div>
                        <div class="flex gap-2 flex-col">
                            <label class='text-theme-light-blue font-bold' for='new-code'>Código</label>
                            <input name="newCode" required class="border rounded-md px-2 py-1" id="new-code"/>
                        </div>
                      
                    </div>
                    <div>
                        <div class="flex gap-2">
                            <label class='text-theme-light-blue font-bold' for='new-color'>Color</label>
                        </div>
                        <span id="new-product-color">
                            <select 
                            name="newColor"
                            required
                            id="new-color" 
                            class=" px-3 py-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-theme-ocean-blue"
                        >
                            <option value='' selected disabled>Seleccione el color</option>
                            <option value='1'>Blanco</option>
                            <option value='2'>Negro</option>
                            <option value='3'>Plata</option>
                        </select>
                        </span>
                    </div>
                    <div class="flex flex-col gap-3 justify-center">
                        <div class="flex">
                            <label class='text-theme-light-blue font-bold' for='new-warehouse'>Almacen</label>
                            
                        </div>
                        <span id="new-product-warehouse" class=" flex flex-col gap-3">
                            <div class="almacen flex gap-5">
                                <label>
                                  <input type="checkbox" name="useWarehouseA" />
                                  Almacén 1
                                </label>
                                <input required class="border rounded-md px-2 max-w-20" type="number" name="amountA" disabled />
                            </div>
                        
                              <!-- Almacén B -->
                            <div class="almacen flex gap-5">
                                <label>
                                  <input type="checkbox" name="useWarehouseB" />
                                  Almacén 2
                                </label>
                                <input required class="max-w-20 px-2 border rounded-md" type="number" name="amountB" disabled />
                            </div>
                        </span>
                    </div>
                    <div>
                        <div class="flex gap-2 flex-col">
                            <label class='text-theme-light-blue font-bold' for='info-cost'>Costo</label>
                            <input name="newCost" required class="border rounded-md px-2 py-1" id="new-cost"/>
                            
                          
                        </div>
                    </div>
                    <!-- <div>
                        <label class='text-theme-light-blue font-bold' for='info-last-up'>Última actualización</label>
                       
                        <span id="last-update"></span>
                    </div> -->
                    <div>
                        <label class='block text-theme-light-blue font-bold' for='new-category'>Categoría</label>
                        
                        <span id="new-product-category">
                            <select 
                            name="newCategory"
                            required
                            id="new-category" 
                            class=" px-3 py-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-theme-ocean-blue"
                        >
                            <option value='' selected disabled>Seleccione la categoría</option>
                            <option value='1'>AA split</option>
                            <option value='2'>AA de ventana</option>
                            <option value='3'>Cocinas</option>
                            <option value='4'>Refrigeradores</option>
                            <option value='5'>Lavadoras</option>
                            <option value='6'>Línea menor</option>
                            <option value='7'>Colchones</option>
                            <option value='8'>Congeladores</option>
                            <option value='9'>Televisores</option>
                            <option value='10'>Audio</option>
                            <option value='11'>Computación</option>
                        </select>
                        </span>
                    </div>
                   
                    
                </div>
              
               
                
            </div>
  
            <div class="flex justify-end space-x-3 mt-6">
                <button 
                    type="button" 
                    onclick="document.getElementById('add-product-dialog').close()"
                    class="px-4 py-2  rounded-md border hover:bg-gray-50"
                >
                    Cancelar
                </button>
                <button 
                    id="create-product-button"
                    type="submit" 
                    class="px-4 py-2 bg-theme-ocean-blue text-white rounded-md hover:bg-opacity-90"
                >
                    Guardar
                </button>
            </div>
        </form>
    </Sections>
    

</Layout>

<script>
    import type { Product } from '@components/operationPage/OperationInfo.astro'
import {newProduct} from '@lib/newProduct'
import { getIconElement } from 'astro/runtime/client/dev-toolbar/ui-library/icons.js'
    const errorNewProduct = document.getElementById('product-info-error-form') as HTMLParagraphElement
    const addProductDialog = document.getElementById('add-product-dialog') as HTMLDialogElement
    const addProductButton = document.getElementById('add-product-button') as HTMLButtonElement
    const AddProductForm = document.getElementById('add-product-form') as HTMLFormElement

    addProductButton.addEventListener('click', ()=>{
        addProductDialog.showModal()
    })

    AddProductForm.addEventListener('submit', (e)=>{

        e.preventDefault()

        const data = Object.fromEntries(new FormData(e.target as HTMLFormElement))
        console.log(data)

        newProduct(data)
    })

    AddProductForm.addEventListener('close',()=>[
        errorNewProduct.innerText = ''
    ])

   


</script>

<script>
import type { Product } from "@components/operationPage/OperationInfo.astro"


    const productFilter = document.getElementById('product-filter') as HTMLInputElement
    productFilter.addEventListener('keydown', (e)=>{

        if (e.key === "Enter" && e.target.value != '') {
            console.log("Buscando:", e.target.value);
            window.location.href = e.target.value
        
    }
    })

</script> 

<script>
    const productInfoDialog = document.getElementById('product-info-dialog') as HTMLDialogElement
    const errorChangeProduct = document.getElementById('change-product-error') as HTMLParagraphElement
    productInfoDialog.addEventListener('close', ()=>{
        errorChangeProduct.innerText = ''
    })
</script>


<script>
    document.querySelectorAll('input[type="checkbox"]').forEach((checkbox) => {
  checkbox.addEventListener("change", (e) => {
    const inputCantidad = e.target.closest(".almacen").querySelector('input[type="number"]');
    inputCantidad.disabled = !e.target.checked;
    if (!e.target.checked) inputCantidad.value = "";
  });
});

</script>