---
import Installments from '@components/operationPage/Installments.astro'
import ProductsSummary from '@components/operationPage/ProductsSummary.astro'
import OperationInfo from '@components/operationPage/OperationInfo.astro'
import Layout from '@layouts/Layout.astro'
import { getOperation } from '@lib/getOperation'
import { getInstallments } from '@lib/getInstallments'
import { fetchAuth } from '@lib/fetchAuth'
import { BACK_API } from 'astro:env/client'

export interface Installment {
  change_date: string | null
  date_to_pay: string
  installment_amount: number
  id_state: number
  state: 'pagado' | 'pendiente' | 'no_pagado' | 'errado'
  type: string
  id_type: number
}

const cookie = Astro.request.headers.get('cookie') || ""

const {id} = Astro.params
console.log(typeof(id))

const res = await fetchAuth(`${BACK_API}/api/get-operation`, {
    method: "POST",
    headers: {
      'Content-Type': 'application/json',
      Cookie: cookie
    },
    body: JSON.stringify(id)
})

if (res.status === 302) {
  return res;
}


const {data} = await res.json()
const {creation_date: creationDate, name: customerName, operation_amount: amount, order_number:orderNumber, products, state} = data


const installments: Installment[] = await getInstallments(orderNumber, cookie)

console.log(installments)
---

<Layout style='flex justify-center'>
    <div id="operation-page" class="flex flex-col justify-center xl:flex-row mt-8 gap-[3rem] xl:gap-0 px-[3rem]">
      <div class="flex w-full flex-col gap-[3rem] h-fit items-center">
        <OperationInfo creationDate={creationDate} customerName={customerName}, amount={amount} products={products} state={state} orderNumber={orderNumber}/>
        <Installments installments={installments} orderNumber={id}/>
    </div>
    <ProductsSummary products={products}/>
    </div>
</Layout>

